<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qtech.saman">

    <application
        android:name=".utils.SamanApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.CustomerSupport.SupportDetailsActivity"></activity>
        <activity android:name=".ui.activities.myaccount.customersupports.CustomerSupportListActivity" />
        <activity android:name=".ui.activities.settings.NotifyOptionActivity" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.onboarding.WelcomeActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="test.com" -->
            <!-- android:scheme="http"/> -->

            <!-- <action android:name="android.intent.action.VIEW" /> -->

            <!-- </intent-filter> -->
        </activity>
        <!-- .ui.activities.map.GoogleMapActivity -->
        <activity
            android:name=".ui.activities.map.GoogleMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.order.checkout.CheckoutOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.home.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.password.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.password.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.password.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.product.ProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.product.SalesProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.search.ProductListingActivity"
            android:screenOrientation="portrait" /> <!-- https://developer.android.com/studio/write/app-link-indexing.html -->
        <activity
            android:name=".ui.activities.productdetail.ProductDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Segments -->
                <!-- <data -->
                <!-- android:host="saman.om" -->
                <!-- android:scheme="http" -->
                <!-- android:path="/p"/> -->

                <!-- Query -->
                <data
                    android:host="www.saman.om"
                    android:pathPrefix="/productSharing"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.myaccount.mydetails.MyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.payment.MyPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.messages.MessagesListActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".ui.activities.myaccount.messages.MessagingActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:taskAffinity="" -->
        <!-- android:excludeFromRecents="true"/> -->
        <!--  -->
        <activity
            android:name=".ui.activities.myaccount.messages.MessagingActivity"
            android:parentActivityName=".ui.activities.SplashActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:parentActivityName=".ui.activities.SplashActivity" -->
        <!-- android:name=".ui.activities.PopupActivity" -->
        <!-- android:theme="@style/ThemeTransparent"/> -->
        <activity
            android:name=".ui.activities.PopupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/ThemeTransparent" />
        <activity
            android:name=".ui.activities.myaccount.myorders.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.customersupports.CustomerSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.order.cart.ShoppingCartActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.payment.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.invoice.InvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.country.CountriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.payment.OmanNetCardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.country.CountriesListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.country.RegionListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PoliciesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.addresses.AddShippingAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.myaccount.addresses.ShippingAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.imagesview.FullScreenImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.store.StoreDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.InvoiceViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.invoice.ViewInvoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.password.NumberVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mastercard.gateway.android.sdk.Gateway3DSecureActivity"
            android:label="@string/gateway_3d_secure_authentication" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/TheFinestWebViewTheme" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyA9vi6vn2yc6Ki3OkRcVlBc74H_6NyN08w" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyCg72uWeRycMyChonEZLqzEUwHBNzAQmXA" /> -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0Jn9atCvYKi-43bsfBYYkGyPzHvcNWWw" />
        <!-- Facebook Region -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- Facebook Region End -->
        <!-- Firebase Region -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notify_icon_trans" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- <meta-data
          android:name="com.google.firebase.messaging.default_notification_icon"
          android:resource="@mipmap/ic_launcher_round" />
         -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/colorAccent" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@android:color/transparent" /> -->
        <!-- Firebase Region End -->
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>