<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algorepublic.saman">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".utils.SamanApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.onboarding.WelcomeActivity"/>
        <activity android:name=".ui.activities.login.LoginActivity"/>
        <activity android:name=".ui.activities.register.RegisterActivity"/>
        <activity android:name=".ui.activities.order.checkout.CheckOutActivity"/>
        <activity android:name=".ui.activities.order.checkout.CheckoutOrderActivity"/>
        <activity android:name=".ui.activities.home.DashboardActivity"/>
        <activity android:name=".ui.activities.password.ChangePasswordActivity"/>
        <activity android:name=".ui.activities.password.ForgotPasswordActivity"/>
        <activity android:name=".ui.activities.password.ResetPasswordActivity"/>
        <activity android:name=".ui.activities.search.SearchActivity"/>
        <activity android:name=".ui.activities.productdetail.ProductDetailActivity"/>
        <activity android:name=".ui.activities.myaccount.mydetails.MyDetailsActivity"/>
        <activity android:name=".ui.activities.myaccount.payment.MyPaymentActivity"/>
        <activity android:name=".ui.activities.myaccount.messages.MessagesListActivity"/>
        <activity android:name=".ui.activities.myaccount.messages.MessagingActivity"/>
        <activity android:name=".ui.activities.myaccount.myorders.MyOrdersActivity"/>
        <activity android:name=".ui.activities.myaccount.customersupports.CustomerSupportActivity"/>
        <activity android:name=".ui.activities.settings.SettingsActivity"/>
        <activity android:name=".ui.activities.order.cart.ShoppingCartActivity"/>


        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/TheFinestWebViewTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5da6atc-sJ_Zzvw4flqZ-XnDtv5aT3ms" />
        <!--Facebook Region-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--Facebook Region End-->

        <!--Firebase Region-->
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data android:name="firebase_crash_collection_enabled" android:value="false" />
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@mipmap/ic_launcher_round" />-->
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@color/colorAccent" />-->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@android:color/transparent" />-->
        <!--Firebase Region End-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23f05e93332ffd0a6e8bc93246aeb499be37d4a5" />
    </application>

</manifest>